body {
    margin: 40px auto;
    max-width: 650px;
    
}


li {
    color:#92bcea;
    font-size: 18ps;
    font-family: cursive;
    text-decoration: underline;
    list-style: square;
}

p{
    margin: 10px;
    padding: 30px;
    border: 1px solid black;
}

ing {
    width: 100%;
}

red {
    color: red;
}

underline {
=======
    background-color: black;
    color: white;
}




li {
  color: #92bcea;
  font-size: 18px;
  font-family:cursive;
  text-decoration: underline;
  list-style:square;
      
      
}

p {
    margin: 10px;
    padding: 15px;
   
}

img {
  width: 100%;
  
    
}

p{
   text-decoration: underline
}

.red {
    color: red;
    
}

.underline {
    text-decoration: underline
}

.div {
    background-color: red;
    width: 500px;
    height: 500px;
}

.w-50 {
    background-color: skyblue;
    width: 50%;
    height: 100%;
}

.buttons {
    margin: 50px 0;
    background-color: azure;
    width: 100%;
    text-align: center;
}